// Variáveis do Grid
$cols: 12;
$gutter: 20px;
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

//Box-sizing

*, *::after, *::before{
    box-sizing: border-box;
}

//mixin-media-querie

@mixin d($size) {
    @if $size == l{
        @media screen and (min-width: #{$l-device - 1}){
            @content;
        }
    }
    @else if $size == m{
        @media screen and (min-width: #{$m-device - 1}) and (max-width: #{$l-device - 1}){
            @content;
        }
    }
    @else if $size == s{
        @media screen and (min-width: #{$m-device - 1}){
            @content;
        }
    }
}

//Funções de grid

